@charset "UTF-8";

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ke8d64");
  src: url("../fonts/icomoon.eot?ke8d64#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ke8d64") format("truetype"), url("../fonts/icomoon.woff?ke8d64") format("woff"), url("../fonts/icomoon.svg?ke8d64#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

.icon-arrow:before {
  content: "\e900";
}

.icon-location:before {
  content: "\e901";
}

.icon-message:before {
  content: "\e902";
}

.icon-tel:before {
  content: "\e903";
}

.icon-mans:before {
  content: "\e904";
}

.icon-speed:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #252b42;
}

.lock body {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  position: relative;
  overflow-x: hidden;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 67.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0rem 0.9375rem;
  padding: 0 0.9375rem;
}

.text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #737373;
}

.title {
  font-weight: 700;
  line-height: 1.425;
  letter-spacing: 0.2px;
  color: #252b42;
}

.subtitle {
  font-weight: 500;
  line-height: 1.4285714286;
  margin: 0 auto;
  letter-spacing: 0.2px;
  color: #737373;
}

.icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3rem;
  height: 3rem;
}

.icon svg {
  position: absolute;
  display: block;
  width: 95%;
  height: 100%;
  top: -0.125rem;
  left: 0;
  fill: #0d5c63;
  -o-object-fit: contain;
     object-fit: contain;
}

[data-fullscreen] {
  height: 100vh;
}

.touch [data-fullscreen] {
  height: calc(var(--vh, 1vh) * 100);
}

[class*=__image-ibg] {
  position: relative;
}

[class*=__image-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: absolute;
  width: 100%;
  max-height: 6.25rem;
  top: 0;
  left: 0;
  z-index: 3;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  letter-spacing: 0.1px;
  position: relative;
  z-index: 3;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.menu-header__body {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 105%;
  opacity: 0;
  background-color: #0d5c63;
  padding: 5rem 0rem 0rem 0rem;
  z-index: 2;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu-open .menu-header__body {
  -webkit-transition: left 0.3s ease 0s;
  -o-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
  left: 0;
  opacity: 1;
}

.menu-header__link {
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
  color: #737373;
}

.icon-menu {
  display: none;
}

.footer__top {
  background-color: #17213c;
  color: #fff;
  padding: 3.125rem 0rem;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-footer__button {
  position: relative;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

.row-footer__button:not(:last-child) {
  margin-bottom: 0.625rem;
}

.row-footer__button::before {
  display: none;
}

.row-footer__button._spoller-active {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #ff7b47;
}

.row-footer__button._spoller-active::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.row-footer__list {
  margin-bottom: 0.625rem;
}

.row-footer__item {
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
}

.row-footer__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.row-footer_contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 16.25rem;
}

.row-footer_contact__item:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.row-footer_contact__item::before {
  font-size: 1.5rem;
  color: #8ec2f2;
  margin-right: 1.25rem;
  margin-top: 0.3125rem;
}

.row-footer_contact__link {
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
}

.bottom-footer {
  background-color: #fafafa;
}

.bottom-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5625rem 0.9375rem;
}

.bottom-footer__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
  color: #737373;
}

.bottom-footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.main {
  position: relative;
  padding: 0;
}

.main__image-ibg {
  margin: 0rem 0rem 6.25rem 0rem;
  z-index: 1;
  padding-bottom: 0.9375rem;
}

.main__container {
  position: relative;
  z-index: 3;
}

.main__title {
  font-weight: 900;
  line-height: 1.3793103448;
  letter-spacing: 0.2px;
  color: #252b42;
  max-width: 31.875rem;
}

.main__title:not(:last-child) {
  margin-bottom: 0.6034482759em;
}

.main__text {
  max-width: 23.75rem;
}

.main__text:not(:last-child) {
  margin-bottom: 1.75em;
}

.main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #0d5c63;
  gap: 0.625rem;
}

.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #0d5c63;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  padding: 0.625rem 2.5rem;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.2px;
}

.main__button-big {
  letter-spacing: 0.8px;
}

.cards-main__items {
  gap: 1.875rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.125rem, 1fr));
  -webkit-transform: translate(0rem, 50%);
      -ms-transform: translate(0rem, 50%);
          transform: translate(0rem, 50%);
}

.cards-main__card {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  padding: 2.1875rem 1.875rem;
  border: 1px solid #0d5c63;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.cards-main__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  letter-spacing: 0.1px;
  color: #252b42;
}

.cards-main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: 0.2px;
  color: #737373;
}

.designing {
  background-color: #fafafa;
}

.designing__container {
  text-align: center;
}

.designing__title:not(:last-child) {
  margin-bottom: 0.25em;
}

.designing__text {
  max-width: 32.5rem;
}

.cards-designing {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr));
}

.cards-designing__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  background-color: #fff;
  padding: 1.875rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.cards-designing__info {
  font-weight: 700;
  line-height: 1.425;
  letter-spacing: 0.2px;
  color: #252b42;
}

.cards-designing__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #737373;
  max-width: 20rem;
}

.practice {
  background-color: #fafafa;
}

.practice__header {
  text-align: center;
  padding: 2.8125rem 0rem;
}

.practice__subtitle {
  max-width: 29.375rem;
}

.practice__items {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 15rem));
}

.practice__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 0rem 0.3125rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.practice-item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5625rem 1.5625rem 3.125rem 1.5625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.practice-item__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #252b42;
}

.practice-item__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.practice-item__text {
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: 0.2px;
  color: #737373;
}

.practice-item__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.practice-item__image-ibg {
  padding-bottom: 60%;
}

.who-we__header {
  text-align: center;
}

.who-we__title:not(:last-child) {
  margin-bottom: 0.375em;
}

.who-we__subtitle {
  max-width: 32.5rem;
}

.who-we__body {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 37.5rem) minmax(18.75rem, 21.875rem));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.who-we__video {
  position: relative;
  padding-bottom: 73%;
  min-height: 12.5rem;
  max-height: 27.5rem;
}

.who-we__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.who-we__info {
  max-width: 21.875rem;
}

.info-who-we__header {
  text-align: left;
}

.info-who-we__header:not(:last-child) {
  margin-bottom: 0.625rem;
}

.info-who-we__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-top: 1.875rem;
}

.info-who-we__item {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "icon title" "icon text";
}

.info-who-we__item:not(:last-child) {
  margin-bottom: 1.875rem;
}

.info-who-we__icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: icon;
}

.info-who-we__icon svg {
  width: 3.25rem;
  height: 3.25rem;
}

.info-who-we__title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  grid-area: title;
}

.info-who-we__title::before {
  position: absolute;
  left: -2.5rem;
  font-size: 1.5rem;
  color: #ff7b47;
}

.info-who-we__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.info-who-we__text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: text;
}

.brands {
  padding-top: 0;
  position: relative;
  z-index: 3;
  background-color: #fafafa;
}

.brands::before {
  content: "";
  width: 100%;
  height: 4.375rem;
  bottom: 0;
  left: 0;
  background-color: #17213c;
  position: absolute;
  z-index: 1;
}

.brands__icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.5625rem, 1fr));
  padding: 3.125rem 1.5625rem;
  gap: 0.625rem;
}

.brands__icons .brands-icons__icon {
  text-align: center;
}

.brands__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #17213c;
  border-radius: 2px;
  padding: 1.875rem 3.125rem;
  margin: 0 auto;
  width: 100%;
  gap: 6.25rem;
}

.brands__label {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  letter-spacing: 0.1px;
}

.brands__label:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.brands__items {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 1.875rem 0rem 1.875rem;
}

.brands__form {
  position: relative;
  padding: 0.625rem 1.25rem;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.3125rem 0rem 0rem 0.3125rem;
  width: 100%;
}

.brands form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brands__button {
  font-weight: 400;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.2px;
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 0.3125rem 0.3125rem 0px;
  padding: 0.625rem 1.375rem;
}

.getin {
  background-color: #fafafa;
}

.getin__header {
  padding: 3.125rem 0rem 3.125rem 0rem;
  text-align: center;
}

.getin__title:not(:last-child) {
  margin-bottom: 0.25em;
}

.getin__items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.getin__item {
  position: relative;
  background-color: #fff;
  padding: 3.125rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 20.625rem;
  gap: 0.9375rem;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.getin__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.getin__item_icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.5rem;
  height: 4.5rem;
  z-index: 5;
}

.getin__item_icon svg {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: fill 0.3s ease 0s;
  -o-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
  fill: #0d5c63;
}

.getin__imail {
  position: relative;
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
  color: #252b42;
  z-index: 3;
}

.getin__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #252b42;
  z-index: 3;
}

.getin__button {
  font-weight: 600;
  line-height: 1.7142857143;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ff7b47;
  border: 1px solid #ff7b47;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 0.625rem 1.25rem;
  background-color: transparent;
  position: relative;
  z-index: 3;
}

.connect {
  background-color: #fafafa;
}

.connect__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connect__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 2.5rem 0rem;
}

.connect__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  letter-spacing: 0.1px;
  color: #252b42;
}

.connect__text {
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: 0.2px;
  color: #737373;
}

.connect__text:not(:last-child) {
  margin-bottom: 0.625rem;
}

.connect__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.connect__link {
  font-weight: 700;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  background: #ff7b47;
  border-radius: 5px;
  padding: 0.9375rem 2.5rem;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #737373;
}

.title {
  font-weight: 700;
  line-height: 1.425;
  letter-spacing: 0.2px;
  color: #252b42;
}

.subtitle {
  font-weight: 500;
  line-height: 1.4285714286;
  margin: 0 auto;
  letter-spacing: 0.2px;
  color: #737373;
}

.icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3rem;
  height: 3rem;
}

.icon svg {
  position: absolute;
  display: block;
  width: 95%;
  height: 100%;
  top: -0.125rem;
  left: 0;
  fill: #0d5c63;
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  min-width: 0;
}

@media (min-width: 69.375em) {
  section {
    padding-top: 3.75rem;
  }

  section {
    padding-bottom: 3.75rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .header {
    padding-top: 2.5rem;
  }

  .header {
    padding-bottom: 2.5rem;
  }

  .header__logo {
    padding-right: 9.375rem;
  }

  .main__image-ibg {
    padding-top: 6.25rem;
  }

  .main__title {
    font-size: 3.625rem;
  }

  .designing__header {
    padding-top: 3.125rem;
  }

  .designing__header {
    padding-bottom: 3.125rem;
  }

  .cards-designing {
    gap: 1.875rem;
  }

  .cards-designing__info {
    font-size: 2.5rem;
  }

  .who-we__header {
    padding-top: 3.125rem;
  }

  .who-we__header {
    padding-bottom: 3.125rem;
  }

  section {
    padding-top: 3.75rem;
  }

  section {
    padding-bottom: 3.75rem;
  }

  .title {
    font-size: 2.5rem;
  }
}

@media (min-width: 87.5em) {
  .practice__items {
    gap: 1.875rem;
  }
}

@media (min-width: 75em) {
  .getin__item {
    padding-right: 2.5rem;
  }

  .getin__item {
    padding-left: 2.5rem;
  }
}

@media (max-width: 20em) {
  section {
    padding-top: 0.625rem;
  }

  section {
    padding-bottom: 0.625rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .header__logo {
    padding-right: 1.875rem;
  }

  .main__image-ibg {
    padding-top: 4.375rem;
  }

  .main__title {
    font-size: 1.875rem;
  }

  .designing__header {
    padding-top: 1.25rem;
  }

  .designing__header {
    padding-bottom: 1.25rem;
  }

  .cards-designing {
    gap: 0.9375rem;
  }

  .cards-designing__info {
    font-size: 1.875rem;
  }

  .who-we__header {
    padding-top: 0.625rem;
  }

  .who-we__header {
    padding-bottom: 0.625rem;
  }

  section {
    padding-top: 0.625rem;
  }

  section {
    padding-bottom: 0.625rem;
  }

  .title {
    font-size: 1.5rem;
  }
}

@media (max-width: 68.75em) {
  .practice__items {
    gap: 0.625rem;
  }
}

@media (max-width: 65.625rem) {
  .cards-designing {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media (max-width: 65.625em) {
  .practice__items {
    margin: 0rem -0.9375rem 0rem -0.9375rem;
  }
}

@media (max-width: 61.99875em) {
  .main__image-ibg {
    margin: 0;
  }

  .cards-main__items {
    grid-template-columns: repeat(auto-fit, minmax(18.125rem, 31.25rem));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    padding: 1.875rem 0rem 0rem 0rem;
    gap: 0.9375rem;
  }

  .practice__items {
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 21.875rem));
    margin: 0;
    gap: 1.25rem;
  }

  .who-we__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[auto];
    grid-template-rows: repeat(auto, auto);
  }

  .who-we__info {
    max-width: 25rem;
    margin: 0 auto;
  }

  .brands::before {
    display: none;
  }

  .brands__forms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.9375rem;
    width: 80%;
  }
}

@media (max-width: 53.75rem) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0rem 0rem 0rem 1.875rem;
  }

  .row-footer_contact {
    padding: 0rem 1.25rem 0rem 0rem;
  }
}

@media (max-width: 53.75em) {
  .row-footer__button::before {
    display: block;
    top: 0.3125rem;
    right: -1.25rem;
    font-size: 0.75rem;
    position: absolute;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
  }

  .row-footer__list {
    position: absolute;
    background-color: #17213c;
    z-index: 4;
    width: 100%;
    height: 100%;
    left: 0;
    padding-left: 3.125rem;
  }
}

@media (max-width: 48.75em) {
  .getin__item {
    padding-right: 1.25rem;
  }

  .getin__item {
    padding-left: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .header__body {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo {
    padding: 0rem 0rem 0rem 0.9375rem;
  }

  .menu-open .header__logo {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0rem 0rem 0rem 1.875rem;
    gap: 0.9375rem;
  }

  .menu-header__link {
    font-size: 1.375rem;
    color: #fff;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu {
    color: #fff;
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer__top {
    padding: 1.875rem 0rem;
  }

  .bottom-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.625rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .main__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 17.5rem;
  }

  .main__button {
    padding: 0.625rem 1.875rem;
    background-color: #0d5c63;
    color: #fff;
  }

  .cards-designing__card {
    padding: 0.9375rem;
  }

  .practice__header {
    padding: 1.25rem 0rem;
  }

  .info-who-we__item:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .brands__icons {
    padding: 1.5625rem;
    grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
  }

  .brands__forms {
    padding: 0.625rem;
  }

  .brands__items {
    padding: 0rem;
  }

  .brands__button {
    padding: 0.3125rem;
    letter-spacing: 0;
    font-size: 0.75rem;
  }

  .getin__header {
    padding: 0.9375rem 0rem;
  }

  .getin__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .getin__item {
    margin: 0 auto;
    padding: 3.125rem 2.5rem;
  }

  .connect__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .connect__body {
    padding: 0.625rem 0.625rem;
  }

  .connect__button {
    padding: 0.9375rem 0rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .who-we__video {
    height: 12.5rem;
  }
}

@media (max-width: 29.99875em) {
  .cards-main__card {
    padding: 1.5625rem;
  }

  .designing__container {
    padding: 0.1875rem 0;
  }

  .practice-item__body {
    padding: 0.9375rem;
  }

  .info-who-we__items {
    padding-top: 0;
  }

  .info-who-we__title::before {
    font-size: 1.125rem;
  }

  .brands__icons {
    grid-template-columns: repeat(auto-fit, minmax(6.5625rem, 6.875rem));
    padding: 0.625rem;
  }

  .brands__forms {
    width: 100%;
  }

  .getin__item {
    padding: 1.25rem 1.25rem;
  }

  .connect__link {
    padding: 0.625rem 3.125rem;
  }
}

@media (min-width: 20em) and (max-width: 69.375em) {
  section {
    padding-top: calc(0.625rem + 3.125 * (((100vw - 20rem)) / ((49.375))));
  }

  section {
    padding-bottom: calc(0.625rem + 3.125 * (((100vw - 20rem)) / ((49.375))));
  }

  .title {
    font-size: calc(1.5rem + 1 * (((100vw - 20rem)) / ((49.375))));
  }

  .header {
    padding-top: calc(1.25rem + 1.25 * (((100vw - 20rem)) / ((49.375))));
  }

  .header {
    padding-bottom: calc(1.25rem + 1.25 * (((100vw - 20rem)) / ((49.375))));
  }

  .header__logo {
    padding-right: calc(1.875rem + 7.5 * (((100vw - 20rem)) / ((49.375))));
  }

  .main__image-ibg {
    padding-top: calc(4.375rem + 1.875 * (((100vw - 20rem)) / ((49.375))));
  }

  .main__title {
    font-size: calc(1.875rem + 1.75 * (((100vw - 20rem)) / ((49.375))));
  }

  .designing__header {
    padding-top: calc(1.25rem + 1.875 * (((100vw - 20rem)) / ((49.375))));
  }

  .designing__header {
    padding-bottom: calc(1.25rem + 1.875 * (((100vw - 20rem)) / ((49.375))));
  }

  .cards-designing {
    gap: calc(0.9375rem + 0.9375 * (((100vw - 20rem)) / ((49.375))));
  }

  .cards-designing__info {
    font-size: calc(1.875rem + 0.625 * (((100vw - 20rem)) / ((49.375))));
  }

  .who-we__header {
    padding-top: calc(0.625rem + 2.5 * (((100vw - 20rem)) / ((49.375))));
  }

  .who-we__header {
    padding-bottom: calc(0.625rem + 2.5 * (((100vw - 20rem)) / ((49.375))));
  }

  section {
    padding-top: calc(0.625rem + 3.125 * (((100vw - 20rem)) / ((49.375))));
  }

  section {
    padding-bottom: calc(0.625rem + 3.125 * (((100vw - 20rem)) / ((49.375))));
  }

  .title {
    font-size: calc(1.5rem + 1 * (((100vw - 20rem)) / ((49.375))));
  }
}

@media (min-width: 68.75em) and (max-width: 87.5em) {
  .practice__items {
    gap: calc(0.625rem + 1.25 * (((100vw - 68.75rem)) / ((18.75))));
  }
}

@media (max-width: 47.99875em) and (min-width: 69.375em) {
  .who-we__video {
    height: 27.5rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 69.375em) {
  .who-we__video {
    height: calc(12.5rem + 15 * (((100vw - 20rem)) / ((49.375))));
  }
}

@media (min-width: 48.75em) and (max-width: 75em) {
  .getin__item {
    padding-right: calc(1.25rem + 1.25 * (((100vw - 48.75rem)) / ((26.25))));
  }

  .getin__item {
    padding-left: calc(1.25rem + 1.25 * (((100vw - 48.75rem)) / ((26.25))));
  }
}

@media (any-hover: hover) {
  .menu-header__link:hover {
    text-decoration: underline;
    color: #252b42;
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .row-footer__button:hover {
    text-decoration: underline;
  }

  .row-footer__item:hover {
    text-decoration: underline;
  }

  .main__button:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #ff7b47;
    border: 1px solid #ff7b47;
    color: #fff;
  }

  .cards-main__card:hover {
    background-color: #0d5c63;
  }

  .cards-main__card:hover .cards-main__title,
  .cards-main__card:hover .cards-main__text,
  .cards-main__card:hover .cards-main__icon svg {
    color: #fff;
    fill: #fff;
  }

  .cards-designing__card:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #d9ebec;
    cursor: pointer;
  }

  .practice__item:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .brands__button:hover {
    background: #e27a51;
  }

  .getin__item:hover:before {
    -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
            transform: scaleY(1.1);
    background-color: #252b42;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .getin__item:hover .getin__text,
  .getin__item:hover .getin__imail,
  .getin__item:hover .getin__item_icon svg {
    color: #fff;
    fill: #fff;
    -webkit-transition: fill 0.3s ease 0s;
    -o-transition: fill 0.3s ease 0s;
    transition: fill 0.3s ease 0s;
  }

  .getin__item:hover .getin__button {
    color: #fff;
    border: 1px solid #fff;
  }

  .connect__link:hover {
    background: #e27a51;
  }
}